@{
    ViewBag.Title = "Home Page";
}

<div class="previous">
    <h1>To-Do</h1>
    <p class="lead">This is a simple MVC To-Do List app. </p>
    @Html.ActionLink("Click here to start making Todos", "Index", "Todos", new { area = "" }, new { @class = "navbar-brand" })
</div>

<div class="row">
    <div class="col-md-4">
        <h2></h2>
    
     </div>   
    <div class="col-md-4">
        
    </div>
    <div class="col-md-4">
       
    </div>
</div>